html, body {
    height:100%;
    margin: 0;
}


#grid{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.three-column{
	height: 300px;
	width: 400px;
	background-image: url('https://hd.unsplash.com/photo-1433162653888-a571db5ccccf');
	background-size: cover;
	margin: 5px;
	flex-grow: 1;
	flex-basis: auto;
}

@media (max-width: 600px){
#grid{
	flex-direction:column;
}
}
