html, body {
    height:100%;
    margin: 0;
}

header{
    width: 100%;
    height: 400px;
    background-image: url('https://hd.unsplash.com/photo-1433162653888-a571db5ccccf');
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
}

.bandeau{
	height: 20%;
	background-color: rgba(255, 255, 255, 0.8);
	border-top: 1px #ffffff;
}

#grid{
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
}

.three-column{
	height: 300px;
	width: 400px;
	background-image: url('https://hd.unsplash.com/photo-1433162653888-a571db5ccccf');
	background-size: cover;
	margin: 5px;
	flex-grow: 1;
	flex-basis: auto;
}

@media (max-width: 600px){
#grid{
	flex-direction:column;
}
}
body{
	margin:0px;
	padding: 0px;
}
footer {
	height: 200px;
	width: 100%;
	background-color: #A20515;
	opacity:0.1;
	display: flex;
	flex-direction:column;
    
}


